GMAIL_USER=you@gmail.com
GMAIL_APP_PASSWORD=your_google_app_password
GMAIL_MAILBOX=INBOX
GMAIL_HOST_IMAP=imap.gmail.com
GMAIL_PORT_IMAP=993
GMAIL_HOST_POP3=pop.gmail.com
GMAIL_PORT_POP3=995
POP3_MARKS_FILE=./data/pop3-marks.json
